/**
 * /snippets/component-button.liquid
 */
button {
  border: 0;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
}
button.button,
.button[role="button"],
input.button[type="submit"] {
  background-color: var(--black);
  color: white;
  padding: 0.5em 1.5em;
}
