.site-overlay {
  background: var(--theme);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100vh;
  transform: translateY(100%);
  transition: transform 600ms var(--cubic);

  body.is-transitioning & {
    transform: translateY(0);
  }
}
